{{> header}}

<article class="tripDetails">
  
  <h1>Creator : {{trip.firstName}} {{trip.lastName}}</h1>
  <h2>{{trip.title}}</h2>
  <h3><i class="fas fa-plane-departure"></i> {{trip.destinationFrom}} to <i class="fas fa-plane-arrival"></i> {{trip.destinationTo}}</h3>
  <h5><i class="fas fa-calendar-alt"></i> Trip date : {{trip.date}}</h5>
  <h5>available : {{left}} persons</h5>
  <h5>Joined: {{trip.joined.length}} persons</h5>
  <p>{{trip.description}}</p>
     <article  class="detailButtons">
           {{#if isAuthor}}
           
               <button class="button-49 delete" ><a href="#/delete/{{key}}"><i class="fas fa-trash-alt"></i> Delete</a></button>
               
               <button class="button-49 edit"><a href="#/edit/{{key}}"><i class="fas fa-edit"></i> Edit</a></button>
            {{else}}
                {{#if isJoined}}
                <button class="button-49"><i class="fas fa-times"></i> <a href="#/unJoin/{{key}}">UnJoin</a></button>
                {{else}}
                <button class="button-49"><i class="fas fa-check"></i></i> <a href="#/join/{{key}}">Join</a></button>
            {{/if}}
            {{/if}}
                

    
     </article>
    
</article>

{{> footer}}