<article class="trip">
  <h1>{{firstName}} {{lastName}}</h1>
  <h3>{{destinationFrom}} to {{destinationTo}}</h3>
  <h5>{{date}}</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quam id
    exercitationem facilis eum, animi distinctio inventore. Doloremque enim
    quia, beatae laboriosam ut iste commodi. Obcaecati odit fugit exercitationem
    ipsum!</p>
    <button>Join</button>
</article>