<article class="trip">
  
  
  <h1>{{destinationFrom}} to {{destinationTo}}</h1>
  <h5>Trip date : {{date}}</h5>
  <h5>available : {{persons}} - {{joined.length}} presons</h5>
  
     
    <button class="button-49"><a href="/details/{{key}}">Details</a></button>
</article>

