<article class="trip">
  
  <h1>Creator : {{firstName}} {{lastName}}</h1>
  <h3>{{destinationFrom}} to {{destinationTo}}</h3>
  <h5>Trip date : {{date}}</h5>
  <h5>available : {{persons}} - {{joined.length}} presons</h5>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quam id
    exercitationem facilis eum, animi distinctio inventore. Doloremque enim
    quia, beatae laboriosam ut iste commodi. Obcaecati odit fugit exercitationem
    ipsum!</p>
    <button class="button-49"><a href="/join/{{key}}">Join</a></button>
</article>

